<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="fruta in frutas">
                {{ fruta.nombre }} - {{ fruta.cantidad }}
                <span v-if="fruta.cantidad===0"> (Sin Stock)</span>
                <span v-else-if="fruta.cantidad<5"> (Stock Bajo)</span>
                <span v-else="fruta.cantidad>=5"> (Stock Alto)</span>
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="v-else.js"></script>
</body>
</html>